html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Ubuntu", Arial, Helvetica, sans-serif;
   color:#333333;
   margin:0;
   max-width: 100%;
   height: auto;
 }
 body img {
   float: right;
   position: absolute;
   max-width: 20%; 
   height: auto;
   margin-left: 25px;
   margin-top: 25px;
 }

 h2, h3, h4, h5, h6 {
   font-family: "Audiowide", Arial, Helvetica, sans-serif;
 }

 h1 {
   font-family: "Ubuntu"
   font-weight: 600;
   text-align: left;
   color: #28405C;
 }

 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }

 p {
   font-family: "Ubuntu";
   color: #28405C;
   font-size:18px;
   line-height: 23px;
   font-weight: 400;
 }

 .container {
   z-index: 1;
   position:fixed;
   background-color: #FFFFFF;
   top:-10px;
   right:-10px;
   width:100%;
   padding:15px;
 }

 @media screen and (min-width: 320px) {
  .container  {
    position:fixed;
    max-width: 100%;
    padding:20px;
  }
}

 @media screen and (min-width: 860px) {
  .container  {
    position:fixed;
    max-width: 100%;
  }
}

 .container ul {
   list-style-type: none;
   text-transform: uppercase;
   margin: -1;
   padding:0;
   overflow: hidden;
 }

 .container li {
  display: block;
  float:right;
  color: #28405C;
  margin-top:12px;
  margin-right: 23px;
 }

 @media screen and (min-width: 320px) {
  .container li {
    float:right;
    margin-top:60px;
    max-width: 100%;
    margin-right: 8px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 396px) {
  .container li {
    margin-top:60px;
    max-width: 100%;
    float:right;
    margin-right: 18px;
    padding-right: 0px;
  }
}

 @media screen and (min-width: 697px) {
  .container li {
    margin-top: 12px;
    max-width: 100%;
    float:right;
    margin-right: 18px;
    padding-right: 0px;
  }
}

 .container a {
  color: #28405C;
  text-decoration-line: none;
 }

 .container a:hover {
  text-decoration-line: underline;
 }

 .container .site-logo {
  position:fixed;
 }

 .container img {
  position:fixed;
  margin: 0 auto;
  min-width: 225px;
  margin-top: 35px;
  margin-left:36px;
 }

@media screen and (min-width: 320px) {
  .container img  {
    position:fixed;
    max-width: 20%;
    margin-top:10px;
    margin-left: -30px;
    left: 13%;
  }
}

@media screen and (min-width: 398px) {
  .container img {
    position:fixed;
    max-width: 20%;
    margin-top:10px;
    margin-left:25px;
    left: 0%;
  }
}

 @media screen and (min-width: 697px) {
  .container img {
    position:fixed;
    max-width: 20%;
    margin-top:10px;
    margin-left:25px;
    left: 0%;
  }
}

@media screen and (min-width: 1110px) {
  .container img {
    position:fixed;
    max-width: 10%;
    margin-top:10px;
    margin-left:25px;
    left: 0%;
  }
}

 .biography {
   background-image: url(../images/biography_background.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 2em;
   padding-bottom: 4em;
 }

 .biography .bio-box {
   width: 100%;
   margin: 1 auto;
 }

 @media screen and (min-width: 697px) {
  .biography .bio-box {
  width: 100%;
  margin: 1 auto;
  }
}

@media screen and (min-width: 1110px){
  .biography .bio-box {
  width: 80%;
  margin: 0 auto;
  }
}
 
 .biography h1 {
  position:relative;
  font-family: "Ubuntu";
  text-transform: none;
  font-size: 36px;
  width: 100%;
 }

 @media screen and (min-width: 320px) {
  .biography h1 {
    max-width: 90%;
    margin-top: 5em;
    margin-left: 1em;
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .biography h1 {
    max-width: 90%;
    margin-top: 5em;
    margin-left: 1.3em;
    text-align: left;
  }
}

@media screen and (min-width: 697px) {
  .biography h1 {
    max-width: 90%;
    margin-top: 4em;
    margin-left: 1.85em;
    text-align: left;
  }
}

@media screen and (min-width: 1085px) {
  .biography h1 {
    max-width: 90%;
    margin-top: 4em;
    margin-left: 3em;
    text-align: left;
  }
}

 .biography p {
  width: 100%;
 }

 @media screen and (min-width: 320px) {
  .biography p {
   max-width: 80%;
   margin-top: 25px;
   margin-left: 40px;
   top: -12%;
   left: 26.5%;
   text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .biography p {
   max-width: 80%;
   margin-top: 25px;
   margin-left: 2.8em;
   top: -12%;
   left: 26.5%;
   text-align: left;
  }
}

@media screen and (min-width: 697px) {
  .biography p {
   max-width: 80%;
   margin-top: 25px;
   margin-left: 3.7em;
   font-size: 19px;
   text-align: left;
  }
}

@media screen and (min-width: 1085px) {
  .biography p {
   max-width: 80%;
   margin-top: 25px;
   font-size: 19px;
   margin-left: 5.8em;
   margin-right: 200px;
   text-align: left;
  }
}

 .skills {
  background-image: url(../images/myskills_background.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 2em;
   padding-bottom: 4em;
 }

 .skills .sk-box {
   width: 100%;
   margin: 1 auto;
 }

 @media screen and (min-width: 697px) {
  .skills .sk-box {
  width: 100%;
  margin: 1 auto;
 }
}

@media screen and (min-width: 1110px){
  .skills .sk-box {
  width: 80%;
  margin: 0 auto;
  }
 }

 .skills h1 {
  font-family: "Ubuntu";
  text-transform: none;
  font-size: 36px;
  width: 100%;
  color: #FFFFFF;
 }

 @media screen and (min-width: 320px) {
  .skills h1 {
    max-width: 80%;
    margin-top: 60px;
    margin-left: 1.1em;
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .skills h1 {
    max-width: 80%;
    margin-top: 60px;
    margin-left: 1.4em;
    text-align: left;
  }
}

@media screen and (min-width: 697px) {
  .skills h1 {
    max-width: 85%;
    margin-top: 60px;
    margin-left: 1.85em;
    text-align: left;
  }
}

@media screen and (min-width:1085px) {
  .skills h1 {
    max-width: 47%;
    margin-top: 40px;
    margin-left: 3em;
    text-align: left;
  }
}

 .skills ul {
  font-size: 17px;
  color: #FFFFFF;
  line-height: 23px;
  font-weight: 400;
  width: 100%;
 }

 .skills ul li {
  margin-top: 20px;
 }

 @media screen and (min-width: 320px) {
  .skills ul {
   max-width: 80%;
   margin-top: 35px;
   margin-left: 1em;
   list-style-type: disc;
   text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .skills ul {
   max-width: 80%;
   margin-top: 35px;
   margin-left: 1.7em;
   list-style-type: disc;
   text-align: left;
  }
}

@media screen and (min-width: 697px) {
  .skills ul {
   max-width: 85%;
   margin-top: 35px;
   margin-left: 2.7em;
   font-size: 19px;
   list-style-type: disc;
   text-align: left;
  }
}

@media screen and (min-width: 1085px) {
  .skills ul {
   max-width: 47%;
   margin-top: 35px;
   margin-left: 5em;
   font-size: 19px;
   list-style-type: disc;
   text-align: left;
  }
}

.technology1 {
   background-image: url(../images/technology1_background_3.png);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   padding-top: 2em;
   padding-bottom: 4em;
 }

 .technology1 .hardware {
   width: 100%;
   margin: 1 auto;
 }

 @media screen and (min-width: 697px) {
  .technology1 .hardware {
  width: 100%;
  margin: 1 auto;
 }
}

@media screen and (min-width: 1110px){
  .technology1 .hardware {
  width: 80%;
  margin: 0 auto;
  }
 }

 .technology1 .hardware h1 {
  font-family: "Ubuntu";
  text-transform: none;
  font-size: 36px;
  width: 100%;
 }

 @media screen and (min-width: 320px) {
  .technology1 .hardware h1 {
    max-width: 80%;
    margin-top: 60px;
    margin-left: 1.1em;
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .technology1 .hardware h1 {
    max-width: 80%;
    margin-top: 60px;
    margin-left: 1.4em;
    text-align: left;
  }
}

@media screen and (min-width: 697px) {
  .technology1 .hardware h1 {
    max-width: 85%;
    margin-top: 60px;
    margin-left: 1.85em;
    text-align: left;
  }
}

@media screen and (min-width: 1085px) {
  .technology1 .hardware h1 {
    max-width: 85%;
    margin-top: 40px;
    margin-left: 3em;
    text-align: left;
  }
}

@media screen and (min-width: 320px) {
 .technology1 .hardware h2 {
  font-family: "Ubuntu";
  color: #00274e;
  font-size: 28px;
  margin-top: -35px;
  margin-left: -0.8em;
  width: 100%;
  text-align: left;
 }
}

@media screen and (min-width: 480px) {
 .technology1 .hardware h2 {
  font-family: "Ubuntu";
  color: #00274e;
  font-size: 28px;
  margin-top: -35px;
  margin-left: -0.7em;
  width: 100%;
 }
}

@media screen and (min-width: 697px) {
 .technology1 .hardware h2 {
  font-family: "Ubuntu";
  color: #00274e;
  font-size: 28px;
  margin-top: -35px;
  margin-left: -0.9em;
  width: 100%;
  text-align: left;
 }
}

@media screen and (min-width: 1085px) {
 .technology1 .hardware h2 {
  font-family: "Ubuntu";
  color: #00274e;
  font-size: 28px;
  margin-top: -35px;
  margin-left: -0.9em;
  width: 100%;
  text-align: left;
 }
}

 .technology1 .hardware ul {
  color: #00274e;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  width: 100%;
 }

 .technology1 .hardware ul li {
  margin-top: 20px;
 }

 @media screen and (min-width: 320px) {
  .technology1 .hardware ul {
   max-width: 80%;
   margin-top: 77px;
   margin-left: 1.3em;
   list-style-type: disc;
   text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .technology1 .hardware ul {
   max-width: 80%;
   margin-top: 77px;
   margin-left: 1.7em;
   list-style-type: disc;
   text-align: left;
  }
}

@media screen and (min-width: 697px) {
  .technology1 .hardware ul {
   max-width: 85%;
   margin-left: 2.7em;
   font-size: 19px;
   list-style-type: disc;
   text-align: left;
  }
}

@media screen and (min-width: 1085px) {
  .technology1 .hardware ul {
   max-width: 85%;
   margin-top: 77px;
   margin-left: 5em;
   font-size: 19px;
   list-style-type: disc;
   text-align: left;
  }
}

.technology2 {
   background-image: url(../images/technology2_background.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 2em;
   padding-bottom: 4em;
 }

 .technology2 .software {
   width: 100%;
   margin: 1 auto;
 }

 @media screen and (min-width: 697px) {
  .technology2 .software {
  width: 100%;
  margin: 1 auto;
 }
}

@media screen and (min-width: 1110px){
  .technology2 .software {
  width: 80%;
  margin: 0 auto;
  }
 }

 .technology2 .software h1 {
  font-family: "Ubuntu";
  text-transform: none;
  color: #FFFFFF;
  margin-left: 209px;
  font-size: 36px;
  width: 100%;
 }

 @media screen and (min-width: 320px) {
  .technology2 .software h1 {
    max-width: 80%;
    margin-top: 60px;
    margin-left: 1.1em;
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .technology2 .software h1 {
    max-width: 80%;
    margin-top: 60px;
    margin-left: 1.4em;
    text-align: left;
  }
}

@media screen and (min-width: 697px) {
  .technology2 .software h1 {
    max-width: 85%;
    margin-top: 60px;
    margin-left: 1.85em;
    text-align: left;
  }
}

@media screen and (min-width: 1085px) {
  .technology2 .software h1 {
    max-width: 85%;
    margin-top: 40px;
    margin-left: 3em;
    text-align: left;
  }
}

 @media screen and (min-width: 320px) {
 .technology2 .software h2 {
  font-family: "Ubuntu";
  color: #FFFFFF;
  margin-top: -35px;
  margin-left: -0.8em;
  font-size: 28px;
  line-height: 32px;
  width: 100%;
  text-align: left
 }
}

@media screen and (min-width: 480px) {
 .technology2 .software h2 {
  font-family: "Ubuntu";
  color: #FFFFFF;
  margin-top: -35px;
  margin-left: -0.7em;
  font-size: 28px;
  line-height: 32px;
  width: 100%;
 }
}

@media screen and (min-width: 697px) {
 .technology2 .software h2 {
  font-family: "Ubuntu";
  color: #FFFFFF;
  margin-top: -35px;
  margin-left: -0.9em;
  font-size: 28px;
  line-height: 32px;
  text-align: left;
  width: 100%;
 }
}

@media screen and (min-width: 1085px) {
 .technology2 .software h2 {
  font-family: "Ubuntu";
  color: #FFFFFF;
  margin-top: -35px;
  margin-left: -0.9em;
  font-size: 28px;
  line-height: 32px;
  text-align: left;
  width: 100%;
 }
}

 .technology2 .software ul {
  color: #FFFFFF;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
 }

 .technology2 .software ul li {
  margin-top: 20px;
 }

 @media screen and (min-width: 320px) {
  .technology2 .software ul {
   max-width: 80%;
   margin-top: 77px;
   margin-left: 1.3em;
   list-style-type: disc;
   text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .technology2 .software ul {
   max-width: 80%;
   margin-top: 77px;
   margin-left: 1.7em;
   list-style-type: disc;
   text-align: left;
  }
}

@media screen and (min-width: 697px) {
  .technology2 .software ul {
   max-width: 85%;
   margin-left: 2.7em;
   font-size: 19px;
   list-style-type: disc;
   text-align: left;
 }
}

@media screen and (min-width: 1085px) {
  .technology2 .software ul {
   max-width: 85%;
   margin-left: 5em;
   font-size: 19px;
   list-style-type: disc;
   text-align: left;
 }
}

 .hobbies {
   background-image: url(../images/Providence_Park-Biography.png);
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 2em;
   padding-bottom: 4em;
 }

 .hobbies .hb-box {
   width: 100%;
   margin: 1 auto;
 }

 @media screen and (min-width: 697px) {
  .hobbies .hb-box {
  width: 100%;
  margin: 1 auto;
 }
}

@media screen and (min-width: 1110px){
  .hobbies .hb-box {
  width: 80%;
  margin: 0 auto;
  }
 }

 .hobbies h1 {
  font-family: "Ubuntu";
  text-transform: none;
  font-size: 36px;
  width: 100%;
 }

 @media screen and (min-width: 320px) {
  .hobbies h1 {
    max-width: 80%;
    margin-top: 60px;
    margin-left: 1em;
    text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .hobbies h1 {
    max-width: 80%;
    margin-top: 60px;
    margin-left: 1.4em;
    text-align: left;
  }
}

@media screen and (min-width: 697px) {
  .hobbies h1 {
    max-width: 80%;
    margin-top: 60px;
    margin-left: 1.85em;
    text-align: left;
  }
}

@media screen and (min-width: 1085px) {
  .hobbies h1 {
    max-width: 80%;
    margin-top: 40px;
    margin-left: 3em;
    text-align: left;
  }
}

 .hobbies p {
  width: 100%;
  line-height: 23px;
 }

 @media screen and (min-width: 320px) {
  .hobbies p {
   max-width: 80%;
   margin-top: 25px;
   margin-left: 40px;
   top: -12%;
   left: 26.5%;
   text-align: left;
  }
}

@media screen and (min-width: 480px) {
  .hobbies p {
   max-width: 80%;
   margin-top: 25px;
   margin-left: 2.8em;
   top: -12%;
   left: 26.5%;
   text-align: left;
  }
}

@media screen and (min-width: 697px) {
  .hobbies p {
   max-width: 80%;
   margin-top: 25px;
   margin-left: 3.7em;
   font-size: 19px;
   text-align: left;
  }
}

@media screen and (min-width: 1085px) {
  .hobbies p {
   max-width: 80%;
   margin-top: 25px;
   margin-left: 5.8em;
   font-size: 19px;
   text-align: left;
  }
}

 footer {
  display: block;
}

footer p {
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
  right:0px;
  left:-25px;
  width:100%;
  padding-top:18px;
  padding-left: 30px;
}

 @media screen and (min-width: 320px) {
  footer p {
   text-transform: uppercase;
   margin-top:0em;
   margin-bottom: 0em;
   margin-left: 5px;
   padding:18px;
   padding-left:40px;
   padding-right:50px;
   text-align: left;
 }

 @media screen and (min-width: 480px) {
  footer p {
   text-transform: uppercase;
   margin-top:0em;
   margin-bottom: 0em;
   margin-left: 5px;
   padding:18px;
   padding-left:40px;
   padding-right:50px;
   text-align: left;
 }

 @media screen and (min-width: 697px) {
  footer p {
   text-transform: uppercase;
   margin-top:0em;
   margin-bottom: 0em;
   margin-left: 5px;
   padding:18px;
   padding-left:40px;
   padding-right:50px;
   text-align: left;
 }

 @media screen and (min-width: 1085px) {
  footer p {
   text-transform: uppercase;
   margin-top:0em;
   margin-bottom: 0em;
   margin-left: 5px;
   padding:18px;
   padding-left:40px;
   padding-right:50px;
   text-align: left;
 }
